<h2><%= team.name %>, do you want to change your team Members?</h2>

<div class ="form-group" actions="/teams/<%= team.name %>">
	<label>New Name:</label>
	<input id="new-name" type = "text" name="name" class = "form-control" value="<%= team.name %>">
</div>
<div class = "form-group">
<form class="edit-form">
	<label>Members:</label>
	<input id:="members" type="text" name="members" class = "form-control" value="<= team.members %>">
	
</div>
<input type="submit" class = "btn btn-success">
</form>
<hr>