<h2><% team.name %>, do you want to change your team Members?</h2>

<div class ="form-group">
	<label>New Name:</label>
	<input type = "text" name="name" class = "form-control" value="<% team.name %>">
</div>
<div class = "form-group">
<form class="edit-form">
	<label>Members:</label>
	<input type="text" name="members" class = "form-control" value="<% team.members %>">
	<input type="submit" class = "btn btn-success">
</div>
</form>
<hr>