<h2><%= team.name %>, Change your shit son!</h2>

<Form class ="edit-form" actions="/teams/<%= team.name %>">
	<div class="form-group">
		<label>New Name:</label>
		<input id="new-name" type = "text" name="name" class ="form-control" value="<%= team.name %>">
	</div>
	<div>
		<label>Members:</label>
		<input id:="members" type="text" name="members" class = "form-control" value="<%= team.members %>">
	</div>
	<br>
	<input type="submit" class = "btn btn-success">
</form>
<hr>